{% comment %} 
        each theme block added has a unique blockid:
        AUVRaTXBFRWEySDZ5T__upfile_uploaded_file_orders_upfile_theme_block_ncBpYW
       
        AZk9NVzZOOG84aWdKZ__upfile_uploaded_file_orders_upfile_theme_block_7ThckV
       
       
        ** ideally, I want the block to be a shell essentially, app bridge populates it so, we're not writing this in two locations
{% endcomment %}
<script title="upfile__block_bind">
  window.upfile = window.upfile || {};
  window.upfile = {
    widgets: {
      {{ block.id | json }}: {}
    }
  };
  console.log("window.upfile.widgets:", window.upfile.widgets);
  // TODO: now we can use the block to fetch custom CSS and toggle the skeleton
  // TODO: skeleton should be displayed by default, switch this once tested
</script>
{% comment %} {% assign timestamp = 'now' | date: "%s%N" %}
{% assign random_hash = timestamp | md5 | slice: 0, 6 %} {% endcomment %}

<div id="upfile__wrapper_{{ block.id }}" style="font-family: inherit !important; display: flex !important; align-items: center justify-content: center !important; width: 100% !important;
margin: {{ block.settings['block-top-margin'] }}px 0px !important; {{ block.settings['block-bottom-margin'] }}px 0px !important;
  {% if block.settings['app-divider-bottom'] == true %}border-bottom: 1px solid rgb(230, 230, 230) !important;{% endif %}
  {% if block.settings['app-divider-top'] == true %}border-top: 1px solid rgb(230, 230, 230) !important;{% endif %}">
  <div class="upfile__upfile_skeleton" style="display: none;">
</div>
  {% comment %} 
        I want the block widgets HTML to get injected here 
    {% endcomment %}
  {% if app.metafields.upfile.widgets.block[block.id]["custom-html"] %}
      {{ app.metafields.upfile.widgets.block.block.id["custom-html"].value }}
  {% endif %}
</div>

{% schema %}
  {
    "name": "Upfile - Theme Block",
    "target": "section",
    "javascript": "app-bridge.min.js",
    "enabled_on": {
      "templates": ["product", "cart"]
    }
  }
{% endschema %}