{% comment %}  
      TODO: we need to remove the select 'drag text' on mobile
 {% endcomment %}
<form
  id="upfile__dropzone_form"
  style="border: {{- block.settings.border-thickness -}}px {% if block.settings.dotted-border %}dashed{% else %}solid{% endif -%} {{ block.settings.default-border-color }}; border-radius: {{block.settings.border-radius}}px"
  data-proxy-url="https://custom-component-portfolio.myshopify.com/apps/dropzone">

  <input
    type="file"
    id="upfile__manual_file_input"
    multiple
    style="display: none; " />

  <span id="upfile__dropzone_text"></span>

  <button id="upfile__select_file_btn">
    {{ block.settings.button-text }}
  </button>
  {% comment %}
    The text REPLACES the select button
  {% endcomment %}
  <span id="upfile__help_text">
    {{ block.settings.disclaimer-text }}
  </span>

  <span id="upfile__file_size_tally_container">
    <span id="upfile__file_size_tally">0.00</span>
    <span>of</span>
    <span id="upfile__file_size_max">0.00</span>
  </span>

  <span id="upfile__missing_block_notice">ERROR:<br/>Add fileviewer block to product form to Enable UpFile App</span>
</form>

{% schema %}
  {
    "name": "Dropzone",
    "target": "section",
    "javascript": "index.js",
    "stylesheet": "dropzone.css",
    "enabled_on": {
      "templates": ["product"]
    },
    "settings": [
      {
        "type": "text",
        "id": "default-text",
        "label": "Default Text",
        "default": "Drag and Drop Files Here"
      },
      {
        "type": "color",
        "id": "default-border-colour",
        "label": "Default Border Colour",
        "default": "#201e1e"
      },
      {
        "type": "number",
        "id": "border-thickness",
        "label": "Border Thickness",
        "info": "Border Thickness in pixels",
        "default": 1
      },
      {
        "type": "number",
        "id": "border-radius",
        "label": "Border Radius",
        "info": "This determines how much the corners will curve (in pixels)",
        "default": 5
      }, {
        "type": "checkbox",
        "id": "dotted-border",
        "label": "Dotted Border?",
        "default": true
      }, {
        "type": "number",
        "id": "font-size",
        "label": "Font Size",
        "info": "Font Size in pixels",
        "default": 16
      }, {
        "type": "text",
        "id": "drag-error-message",
        "label": "Drag Error Message",
        "default": "Oops.. this isn't a valid file"
      }, {
        "type": "text",
        "id": "button-text",
        "label": "Text within the button",
        "default": "Select files"
      }, {
        "type": "text",
        "id": "disclaimer-text",
        "label": "the text below the button",
        "default": "(max 20MB per file)"
      }
    ]
  }
{% endschema %}