 {% comment %}
    DECLARE MERCHANT STYLING INLINE HERE:



    - This block can only be added to product templates
    - 
 {% endcomment %}
<span class="dropzone-wrapper" style="border: {{- block.settings.border-thickness -}}px {% if block.settings.dotted-border %}dotted{% else %}solid{% endif %} {{ block.settings.default-border-color }}; border-radius: {{block.settings.border-radius}}px">
  <input hidden class="cust-attribute-image-id"  value=""/>
  <img src="{{ 'upload.svg' | asset_url }}" height="20px" width="20px">
  <span class="dropzone-text" style="font-size: {{block.settings.font-size}}px;">{{ block.settings.default-text }}</span>
<span>or click to select (20 MB max)</span>
  <button>Select files</button>
</span>


{% schema %}
  {
    "name": "Dropzone",
    "target": "section",
    "javascript": "dropzone.js",
    "stylesheet": "dropzone.css",
    "enabled_on": {
      "templates": ["product"]
    },
    "settings": [
      {
        "type": "text",
        "id": "default-text",
        "label": "Default Text",
        "default": "Drag and Drop Files Here"
      },
      {
        "type": "color",
        "id": "default-border-colour",
        "label": "Default Border Colour",
        "default": "#201e1e"
      },
       {
        "type": "number",
        "id": "border-thickness",
        "label": "Border Thickness",
        "info": "Border Thickness in pixels",
        "default": 1
      },
       {
        "type": "number",
        "id": "border-radius",
        "label": "Border Radius",
        "info": "This determines how much the corners will curve (in pixels)",
        "default": 5
      },
      {
        "type": "checkbox",
        "id": "dotted-border",
        "label": "Dotted Border?",
        "default": true
      },
        {
        "type": "number",
        "id": "font-size",
        "label": "Font Size",
        "info": "Font Size in pixels",
        "default": 16
      },
      {
        "type": "text",
        "id": "drag-error-message",
        "label": "Drag Error Message",
        "default": "Oops.. this isn't a valid file"

      }
    ]
  }
{% endschema %}