{% comment %}  
  TODO: we need to remove the select 'drag text' on mobile
 {% endcomment %}
<form id="upfile__dropzone-wrapper" style="border: {{- block.settings.border-thickness -}}px {% if block.settings.dotted-border %}dashed{% else %}solid{% endif -%} {{ block.settings.default-border-color }}; border-radius: {{block.settings.border-radius}}px">
  <img
    src="{{ 'upload.svg' | asset_url }}"
    height="20px"
    width="20px" />
  <span id="upfile__dropzone-text" style="font-size: {{block.settings.font-size}}px;">{{ block.settings.default-text }}</span>
  <span id="upfile__functionality-separator">- or -</span>
  <span id="upfile__lower-section-container">
    <input
      type="file"
      id="upfile__manual-file-input"
      multiple
      style="display: none;" />
    <button id="upfile__select-file-btn">
      {{ block.settings.button-text }}
    </button>
    <span id="upfile__help-text">{{ block.settings.disclaimer-text }}</span>
  </span>
  <div id="upfile__toast-container">
    <div id="upfile__toast-text"></div>
    <div id="upfile__toast-text-more">...and more</div>
  </div>
</form>

{% schema %}
  {
    "name": "Dropzone",
    "target": "section",
    "javascript": "index.js",
    "stylesheet": "dropzone.css",
    "enabled_on": {
      "templates": ["product"]
    },
    "settings": [
      {
        "type": "text",
        "id": "default-text",
        "label": "Default Text",
        "default": "Drag and Drop Files Here"
      },
      {
        "type": "color",
        "id": "default-border-colour",
        "label": "Default Border Colour",
        "default": "#201e1e"
      },
      {
        "type": "number",
        "id": "border-thickness",
        "label": "Border Thickness",
        "info": "Border Thickness in pixels",
        "default": 1
      },
      {
        "type": "number",
        "id": "border-radius",
        "label": "Border Radius",
        "info": "This determines how much the corners will curve (in pixels)",
        "default": 5
      }, {
        "type": "checkbox",
        "id": "dotted-border",
        "label": "Dotted Border?",
        "default": true
      }, {
        "type": "number",
        "id": "font-size",
        "label": "Font Size",
        "info": "Font Size in pixels",
        "default": 16
      }, {
        "type": "text",
        "id": "drag-error-message",
        "label": "Drag Error Message",
        "default": "Oops.. this isn't a valid file"
      }, {
        "type": "text",
        "id": "button-text",
        "label": "Text within the button",
        "default": "Select files"
      }, {
        "type": "text",
        "id": "disclaimer-text",
        "label": "the text below the button",
        "default": "(max 20MB per file)"
      }
    ]
  }
{% endschema %}